<div class="container">
  <div
    class="search-results fixed inner"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollContainer]="selector"
    [infiniteScrollThrottle]="100"
    (scrolled)="onScrollDown()"
  >
    <section class="content" style="overflow: scroll; height: 40px;">
      <table class="table table-sm">
        <tr>
          <th scope="col">File Type</th>
          <th scope="col">File Size</th>
          <th scope="col">Description</th>
        </tr>

        <tbody>
          <tr scope="row" *ngFor="let item of records">
            <td>{{ item.fileType }}</td>
            <td>{{ item.fileSize }}</td>
            <td>{{ item.description }}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>
