<div class="container mt-5">
  <div
    class="search-results fixed inner"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollContainer]="selector"
    [infiniteScrollThrottle]="100"
    (scrolled)="onScrollDown()"
  >
    <div class="m-2">Record count: {{ records.length }}</div>
    <section class="content" style="overflow: scroll; height: 400px;">
      <table class="table table-sm">
        <tr>
          <th scope="col">Description</th>
          <th scope="col">File Type</th>
          <th scope="col">File Size</th>
        </tr>

        <tbody>
          <tr scope="row" *ngFor="let record of records">
            <td>{{ record.description }}</td>
            <td>{{ record.fileType }}</td>
            <td>{{ record.fileSize }}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>
