<div class="container">
  <h2 class="text-center mt-1 mb-1 title">Image Details</h2>
  <hr />
  <app-search-bar (groupFilters)="onSearch($event)"></app-search-bar>
  <div class="messages mt-2" style="height: 80px;">
    <div
      *ngIf="loading && currPage === 0"
      class="alert alert-primary ml-3 mr-3"
      role="alert"
    >
      Searching...
    </div>
    <div
      *ngIf="loading && currPage > 0"
      class="alert alert-primary ml-3 mr-3"
      role="alert"
    >
      Loading...
    </div>
    <div
      *ngIf="noRecords && currPage === 0"
      class="alert alert-info ml-3 mr-3"
      role="alert"
    >
      No records found.
    </div>
    <div *ngIf="serverError" class="alert alert-danger ml-3 mr-3" role="alert">
      Server error.
    </div>
  </div>
  <app-list [records]="records" (loadMore)="onLoadMore($event)"></app-list>
</div>
